<div>
<h1>Stupid Coaching</h1>
<div class="question">
  <p><%= @question %></p>
  <em>-you</em>
</div>
<div class="answer">
  <p><%=@answer %></p>
  <em>-your coach</em>
</div>

<%= link_to "Ask a new question", ask_path, class: "link" %>
</div>
