<div>
<h1>Stupid Coaching</h1>
<% @question = params[:question]%>
<div class="question">
  <p><%= @question %></p>
  <em>-you</em>
</div>
<div class="answer">
  <%if @question == "I am going to work"%>
  <p>Great!</p>
  <% elsif @question.end_with?("?")%>
  <p>Silly question, get dressed and go to work!</p>
  <% else %>
  <p>I don't care, get dressed and go to work!</p>
  <% end %>
  <em>-your coach</em>
</div>

<%= link_to "Ask a new question", ask_path %>
</div>
